<!doctype html>
<html>
<style>
body{
margin: auto;
    width: 50%;
    padding: 10px;

}

h3,h2{
font-size:2vw;
font-weight:bold;
font-family: "Times New Roman", Times, serif;
text-align:center;
}


div {
  
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>
   <body>
<div>
 <p>user<a href="/user">user</a></p>
<p>admin<a href="/user">admin</a></p>
<p>find bus<a href="/find.html">find bus</a></p>
<p>log out<a href="/logout">log out</a></p>
</div>

      
   </body>
</html>